<div class="row">
	<div class="col-lg-12 text-center">
		<span class="title"><h1>chentoocool</h1></span>
	</div>
</div>
<div class="row text-center">
	<div class="col-lg-12">
		<a class="btn btn-success" onclick="window.open('http://chentoocool.herokuapp.com/')">Website Link</a>
	</div>
</div>
<div class="row text-center">
	<div class="col-lg-12">
		<a class="btn btn-success" onclick="window.open('https://github.com/martininguyen/chentoocool')">Github Link</a>
	</div>
</div>
<div class="row text-center">
	<div class="col-lg-12">
		<h3>Updates</h3>
	</div>
</div>
<div class="row text-center">
	<div class="col-lg-12">
		<a href="/week8" class="btn btn-success">End of Week 8 Update</a>
	</div>
</div>