<a class="btn btn-info" href="/">Home</a>

<div class="row">
	<div class="col-lg-12">
		<b>Technical aspects of what we did this week:</b>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		We were able to fully implement the google maps api into our website.
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		Now our only job is to create some good d3 visualizations to go with it
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		After some testing, we found that it is more appealing to keep the map small and unobtrusive, while giving more space to the visualizations themselves. Also for the bar chart, we found that it is more effective if users are able to see on a month-to-month basis rather than the whole 17 years in one go.
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		Implement multi-region d3 data stacking.
	</div>
</div>